export(ChIPXpress)
export(buildDatabase)
export(cleanDatabase)
importFrom(bigmemory,attach.big.matrix,as.big.matrix,filebacked.big.matrix)
importFrom(biganalytics,colsum)
importFrom(affy,ReadAffy)
importFrom(GEOquery,getGEO,Meta,getGEOSuppFiles)
importFrom(frma,frma)
